# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

cartridge-api/build.gradle.kts
cartridge-server/build.gradle.kts
cartridge-server/src/minecraft
leaf-api
leaf-server
paper-api
paper-server

.idea/
