# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/cartridge-server/build.gradle.kts
/cartridge-server/src/minecraft
/paper-server
/cartridge-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
